*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    max-width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-0{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(12,40px);
    gap: 10px;
}

.img{
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-1{
    grid-row: 1/5;
}

.img-2{
    grid-row: 1/9;
}

.img-3{
    grid-row: 1/5;
    padding-bottom: 5px;
}


.img-4{
    grid-row: 1/9;
}

.img-5{
    grid-column: 1;
    grid-row:5/13 ;
}

.img-6{
    grid-column: 2;
    grid-row: 9/13;
}


.img-7{
    grid-column: 3;
    grid-row:5/13 ;
}

.img-8{
    grid-column: 4;
    grid-row:9/13 ;
    padding-bottom: 10px;
}


@media(max-width:768px){
 .container-0{
    margin-top: 20px;
    width: 80%;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(24,30px);
}

.d-flex{
    align-items:flex-start;
}

.img-3{
    grid-column: 1;
    grid-row: 13/17;
}

.img-7{
    grid-column: 1;
    grid-row: 17/24;
}

.img-8{
    grid-column: 2;
    grid-row: 21/24;
    padding: 0;
}

.img-4{
    grid-column: 2;
    grid-row: 13/21;
}

}
